.overlay {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000c7;
  color: gold;
}
.fixed {
  position: fixed;
}
.transparentOverlay {
  background: #00000000;
}
.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25;
}
