.myInvestments {
}

.investments {
  display: flex;
  justify-content: center;
}

.investmentsType {
  margin-top: 20px;
  text-align: center;
  color: white;
}
.emptyLabel {
  color: white;
  text-align: center;

  a {
    color: white;
    text-decoration: underline;
  }
}
