@import '../../variables.scss';

.lowBalance {
  color: $redColor;
}
.profit {
  color: $greenColor;
}
tr {
  transform: scale(1);
  overflow: hidden;

  &:hover td {
    background: transparent !important;
  }
}
.notAvailiableOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffffbf;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.countdown {
  background: white;
}
.loanConfirmationValue {
  font-weight: bold;
}
.cardLine {
  text-align: center;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}
.cardTitle {
  text-align: right;
}
:global .ant-tabs-nav-scroll {
  text-align: center;
}

:global(.ant-table-thead > tr > th), :global(.ant-table-tbody > tr > td) {
  text-align: center;
}
