@import '../../../variables.scss';

.loginModal {
  :global .ant-modal-title {
    text-transform: uppercase;
    text-align: center;
  }
  :global .ant-modal-footer {
    text-align: center;
    padding: 20px 0;
    justify-content: flex-end;
  }
  :global .ant-modal-body {
    text-align: center;
  }
  .btnWrapper {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .invitedByBlock {
    margin-bottom: 10px;
  }
  .invitedByText {
    font-weight: bold;
  }

  :global .ant-form-item-label label {
    color: white;
    font-weight: bold;
  }

  :global .ant-form-item {
    margin-bottom: 10px;
  }
  :global .ant-modal-content {
    border-radius: 0;
    background: #3a3a3a;
  }
  :global .ant-modal-title, :global .ant-modal-content, :global .ant-modal-content .ant-form {
    color: white;
  }
  :global .ant-modal-title {
    font-weight: bold;
  }
}
