@import '../../variables.scss';

.loginModal {
  :global .ant-modal-title {
    text-transform: uppercase;
    text-align: center;
  }
  :global .ant-modal-footer {
    text-align: center;
    padding: 20px 0;
    justify-content: flex-end;
  }
  :global .ant-modal-body {
    text-align: center;
  }
  .btnWrapper {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .invitedByBlock {
    margin-bottom: 10px;
  }
  .invitedByText {
    font-weight: bold;
  }
}
