@import '../../variables.scss';

.buttonsWrapper {
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 200px;
  display: inline-block;
  margin: 0 20px;
  width: 150px;
  border-color: #d9524a;
}
.title {
  &:after {
    display: none !important;
  }
}
