@import '../../variables.scss';

.bg {
  position: relative;
  background: gray;
  overflow: hidden;
  min-height: 100vh;
  z-index: 33;
  padding-top: 100px;
}
.bgInside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/bg.png');
  background-attachment: fixed;
  background-size: cover;
}
.bgOverlay {
  position: absolute;
  background-color: black;
  opacity: .6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;

}
.bgShadow {
  position: absolute;
  opacity: .3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
}

@keyframes :global(tipsy) {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.logo {
  position: relative;
  z-index: 222;
  display: inline-block;
  a {
    font-family: "Roboto", sans-serif;
    color: white;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
  }

  a:before,
  a:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 125%;
    top: 50%;
    display: block;
    border: 10px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    :global {
      animation: 10s infinite alternate ease-in-out tipsy;
    }
  }

  a:before {
    border-color: $mainColor $mainColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
  }

  a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $mainColor $mainColor;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }
}

.menu {
  list-style: none;
  display: flex;
}

.menuItem {
  font-size: 20px;
  margin-left: 20px;
  display: inline-block;

  &:first-child {
    margin-left: 0;
  }
}

.menuLink {
  color: white;
}

.content {
  position: relative;
  margin-bottom: 100px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.rightBlock {
  display: flex;
  align-items: center;
}

.sloganBlock {
  text-align: center;
  margin-top: 200px;
  max-width: 800px;
  margin: 150px auto 0;
}

.slogan {
  color: white;
  text-transform: uppercase;
  font-size: 52px;
}
.sloganLogo {
  text-transform: capitalize;
  font-size: 35px;
  color: #d9524a;
}
.sloganDescription {
  color: white;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  font-size: 25px;

  &:before, &:after {
    content: ' ';
    border-top: 1px solid white;
    width: 100px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
  }
  &:before {
    top: -50px;
  }
  &:after {
    bottom: -50px;
  }
}

.previewBlock {
  display: flex;
  justify-content: center;
}

.preview {
  padding: 20px
}
