@import '../../../variables.scss';

.tariff {
  text-align: center;
  background: $mainColor;
  padding: 20px 5px;
  width: 250px;
  color: white;
  transition: 0.5s;
  box-shadow: 2px 9px 7px -9px rgba(0,0,0,0.75);

  & + & {
    margin-left: 40px;
  }

  &:global(.selectable) {
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:global(.tariffSelected) {
      transform: scale(1.2);
      background: #583c3c;
      position: relative;

      &:hover {
        transform: scale(1.2);
        cursor: default;
      }
      &:after, &:before {
        content: '';
        display: block;
        border: solid $mainColor;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
      }
      &:before {
        top: -20px;
        transform: rotate(45deg);
      }
      &:after {
        bottom: -20px;
        transform: rotate(-135deg);
      }
    }
  }

  &:global(.completed) {
    background: #afadad;
  }
}

.tariffTitle {
  color: $goldColor;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.amount {
  font-size: 50px;
}
.amountDescription {
  margin-bottom: 40px;
  font-weight: bold;
  position: relative;

  &:after {
    display: block;
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -10px;
    width: 20px;
    border-top: 2px solid white;
  }
}
.descriptionLine {
  margin-bottom: 10px;
  font-size: 13px;
}
