.language {
  margin-left: -10px;
  width: 100px;
  margin-top: 5px;
  :global {
    .ant-select-arrow, .ant-select-selection-selected-value {
      color: white;
    }
  }

  :global .ant-select-selection {
    line-height: 64px;
    background: transparent;
    border: none;
  }
  @media(max-width: 666px) {
    margin-top: 10px;
  }
}
