@import '../../variables.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  position: relative;
}
.language {
  position: absolute;
  right: 0;
  top: 15px;
  @media(max-width: $mediaWidth) {
    top: 10px;
  }
}
@media(max-width: $mediaWidth) {
  .footer {
    text-align: center;
    flex-direction: column;
  }
}
.logos {
  width: 100,
}
@media(max-width: $mediaWidth) {
  .logos {
    display: none;
  }
}
