.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  position: relative;
}
.language {
  position: absolute;
  right: 0;
  top: 15px;
}
@media(max-width: 666px) {
  .footer {
    text-align: center;
    padding: 15px 50px 10px;
    flex-direction: column;
  }
}
.logos {
  width: 100,
}
@media(max-width: 666px) {
  .logos {
    display: none;
  }
}
