.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media(max-width: 666px) {
    text-align: center;
    padding: 15px 50px 10px;
    flex-direction: column;
  }
}
.language: {
  margin-left: 20;
  width: 100;
  @media(max-width: 666px) {
    margin-top: 10;
  },
  .ant-select-selection {
    line-height: 64px;
    background: transparent;
    border: none;
  }
  & .ant-select-arrow {
  }
}
.logos: {
  width: 100,
  @media(max-width: 666px) {
    display: none;
  }
}
