@import '../../variables.scss';

.footer {
  background: black;
  color: white;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  @media(max-width: $mediaWidth) {
    flex-direction: column;
    align-items: center;
  }
}
.language {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media(max-width: $mediaWidth) {
    align-items: center;
  }
}
@media(max-width: $mediaWidth) {
  .footer {
    text-align: center;
    flex-direction: column;

    .footerItem {
      margin-top: 20px;
    }
  }
}
.logos {
  width: 100,
}
@media(max-width: $mediaWidth) {
  .logos {
    display: none;
  }
}
.menuLink {
  color: white;
}
.footerItem {
  text-align: center;
  width: 200px;
  @media(max-width: $mediaWidth) {
    text-align: center;
  }
  &:first-child {
    text-align: left;
    @media(max-width: $mediaWidth) {
      text-align: center;
    }
  }
  &:last-child {
    text-align: right;
    @media(max-width: $mediaWidth) {
      text-align: center;
    }
  }
}
.email {
  margin-bottom: 20px;
  max-width: 200px;
}
