@import '../../variables.scss';

.cabinet {
  position: relative;
  color: white;
  display: contents;
  h1, h2, h3, h4, :global(.ant-form-item) {
    color: white !important;
  }
}
.profit {
  color: white;
  padding-right: 10px;
  white-space: nowrap;
  @media(max-width: $mediaWidth) {
    display: none;
  }
}
.header {
  position: relative;
  text-align: right;
  background: black;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3333;
  padding-left: 25px;
  @media(max-width: $mediaWidth) {
    padding: 0 20px;
  }
}
.rightBlock{
  display: flex;
  a {
    color: white;
  }
  .item {
    margin-left: 10px;
  }
  .logOut {
    @media(max-width: $mediaWidth) {
      display: none;
    }
  }
}
.content {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}
.verificationMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftSideMenu {
  @media(max-width: $mediaWidth) {
    display: none;
  }
}
.mobileMenuLink {
  font-size: 40px;
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 50;
  margin-top: 10px;
  @media(max-width: $mediaWidth) {
    display: block;
  }
}
.mobileMenuItem {
  font-size: 20px;
  margin-top: 20px;
  a {
    color: white;
  }
}
.language {
  margin-top: 20px;
}
.email {
  @media(max-width: $mediaWidth) {
    display: none;
  }
}
.logo {
  position: relative;
  z-index: 222;
  display: inline-block;
  width: 175px;
  text-align: left;
  @media(max-width: $mediaWidth) {
    margin-left: 20px;
  }
  a {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
    margin: 0;
  }
}
.balances {
  box-shadow: $boxShadow;
  padding: 7px 5px;
  background: white;
  color: black;
  right: 0;
  top: 64px;
  position: absolute;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 11px;
  text-align: center;
  .balance {
    padding: 0 20px;
    .balanceLabel {
      display: block;
    }
  }
}
.mobileMenuProfit {
  color: white;
  font-size: 14px;
  padding-bottom: 20px;
}
