.cabinet {
  position: relative;
  color: white;

  h1, h2, h3, h4, :global(.ant-form-item) {
    color: white !important;
  }
}
.balance {
  color: white;
  padding-right: 10px;
}
.header {
  text-align: right;
  background: black;
  display: flex;
  justify-content: space-between;
}
.rightBlock {
  display: flex;

  a {
    color: white;
  }

  .item {
    margin-left: 10px;
  }
}
