@import '../../../variables.scss';


.howToPlayTabs {
  margin-left: -20px;
  margin-right: -20px;
}
.howToPlayImage {
  max-width: 150px;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -45px;
    left: -22px;
    background: white;
    border-radius: 100%;
    width: 190px;
    height: 190px;
  }

  & img {
    box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.3);
    width: 100%;
  }
}
.stepBgEven {
  // background: #e43a15; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, $mainColor, #ce7c2a); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, $mainColor, #ce7c2a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.howToPlayStep {
  display: flex;
  padding: 10px 20px;
  @media(max-width: 800px) {
    align-items: center;
    flex-direction: column !important;
    margin-top: 0;
    & .howToPlayImage {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 40px !important;
    }
  }
}
.howToPlayText {
  text-align: left;
  width: 300px;
}
.stepNumber {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.icon {
  font-size: 100px;
  color: #ffe86d;
  position: relative;
  z-index: 33;
}
.stepOdd {
  flex-direction: row;
  .howToPlayText {
    padding-left: 50px;
  }
}
.stepEven {
  flex-direction: row-reverse;
  .howToPlayText {
    padding-right: 50px;
  }
}
