.withdrawing {

}

.withdraws {
  & :global(.ant-card-body) {
    padding-left: 15px;
  }
  & :global(.ant-card-head-title) {
    font-size: 12px;
  }
}
.card {
  display: flex;
  height: 80px;
}
.avatar {
  margin-right: 15px;
}
.withdrawingForm {
  max-width: 400px;
}
.content {
  background: #cdd8d4;
  box-shadow: 2px 8px 7px -9px rgba(0, 0, 0, 0.75);
  padding: 30px;
  position: relative;
  margin-bottom: 50px;

  > * {
    position: relative;
    z-index: 50;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    opacity: .1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/bg-texture.png');
  }
}
