.withdraws {
  & :global(.ant-card-body) {
    padding-left: 15px;
  }
  & :global(.ant-card-head-title) {
    font-size: 12px;
  }
}
.card {
  display: flex;
  height: 80px;
}
.avatar {
  margin-right: 15px;
}
.withdrawingForm {
    max-width: 400px;
}
