@import '../../../variables.scss';

.calculatorComp {
}
.percentage {
  font-size: 50px;
}
.period {
  text-transform: lowercase;
}
.description {
  text-align: center;
}
.model {
  margin-bottom: 40px;
  font-weight: bold;
  position: relative;

  &:after {
    display: block;
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -20px;
    margin-left: -10px;
    width: 20px;
    border-top: 2px solid white;
  }
}
.durationLabel {
  text-transform: lowercase;
}
.descriptionLine {
  margin-bottom: 10px;
}
.calculator {
  box-shadow: 2px 9px 7px -9px rgba(0,0,0,0.75);
  color: white;
  background: #a1d1d6;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    opacity: .1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/bg-texture.png');
  }
}
.sectionTitle {
  text-align: center;
  font-size: 20px;
}
.sectionValue {
  text-transform: uppercase;
  color: $goldColor;
}
.sliderLabel {
  margin-top: 20px;
}
.calcLines {
  text-align: left;
  margin-bottom: 50px;
}
.sliderLine {
  margin-bottom: 30px;
}
.calcLine {
  margin-top: 10px;
}
.calcBtn {
  margin-top: 80px;
  border-color: $goldColor;
  color: $goldColor;
}
.content {
  position: relative;
  z-index: 11;
}
.billingSystems {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.billingSystem {
  cursor: pointer;
  margin: 0 10px;
  padding: 10px;
  font-size: 0;
  background: #41e8d83d;
  width: 100px;
  height: 20px;
  box-sizing: content-box;
  box-shadow: 2px 9px 7px -9px rgba(0,0,0,0.75);
  transition: .5s;
  border: 2px solid transparent;

  &.selected {
    transform: scale(1.2);
    border: 2px solid #f5f5f5b5;
  }
}
.billingSystemImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
