@import '../../../variables.scss';

.tariffsList {
  display: flex;
  margin-top: 40px;
}
.tariff {
  background: $mainColor;
  padding: 20px 5px;
  width: 250px;
  margin: 0 40px;
  color: white;
  transition: 0.5s;
  box-shadow: 2px 9px 7px -9px rgba(0,0,0,0.75);
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
.tariffSelected {
  transform: scale(1.2);
  background: #583c3c;
  position: relative;

  &:hover {
    transform: scale(1.2);
    cursor: default;
  }
  &:after, &:before {
    content: '';
    display: block;
    border: solid $mainColor;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
  }
  &:before {
    top: -20px;
    transform: rotate(45deg);
  }
  &:after {
    bottom: -20px;
    transform: rotate(-135deg);
  }
}
.tariffsList {
  display: flex;
  justify-content: center;
}
.tariffTitle {
  color: $goldColor;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.percentage {
  font-size: 50px;
}
