@import '../../../variables.scss';

.description {
  color: white;
  position: relative;
  background-position: center;
  position: relative;
  // transform: skew(-17deg, 0deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &:after {
    background-attachment: fixed;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.content {
  position: relative;
  z-index: 33;
}
.content {
  width: 100%;
}
.btn {
  margin: 80px 0;
}
