@import '../../../variables.scss';

.bg {
  position: relative;
  background: gray;
  overflow: hidden;
  z-index: 33;
}
.bgInside {
  background-image: url('/bg.png');
  background-attachment: fixed;
  background-size: cover;
}
.bgOverlay {
  position: absolute;
  background-color: black;
  opacity: .6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
}
.bgShadow {
  position: absolute;
  opacity: .3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/bg-texture.png');
  background-attachment: fixed;
}
.achievementsBlock {
  position: relative;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  & > h1 {
    color: white;
  }
}
.achievementsList {
  display: flex;
  justify-content: space-around;
  @media(max-width: 666px) {
    flex-direction: column;
    align-items: center;
  }
}
.achievementsItem {
  width: 300px;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  @media(max-width: 666px) {
    margin-top: 40px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.achievementIcon {
  font-size: 80px;
}
.achievementText {
  margin-top: 10px;
  font-size: 22px;
}
.achievementDescription {
  font-size: 15px;
  margin-top: 5px;
  max-width: 200px;
}
.achievementUnit {
}
