@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

iframe {
  border: 0;
}

.list-enter {
  opacity: 0.01;
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.ant-notification, .ant-message {
  top: 100px !important;
}
.ant-tooltip-inner {
  word-break: break-word;
}
.ant-layout {
  background: transparent;
}
.ant-card {
  background: #fcfcfc;
  border: 0;
}
.ant-card-head {
  background: #f2f0f0;
  border: 0;
}
.ghostBtn {
  background: transparent;
  color: #1890ff;
  transition: color 0s;
  text-shadow: none;
  color: white;
  border-color: white;
  border-width: 2px;

  &:hover {
    color: white;
  }

  &[disabled] {
    border-color: #f5f5f5 !important;
    color: #969494 !important;
  }
}

.ant-slider-handle {
  width: 30px;
  height: 30px;
  margin-top: -13px;
  margin-left: -14px;
  border-width: 5px;
}
.ant-modal-header, .ant-modal-footer {
  background: transparent;
  border-color: #484848;
}
.ant-input {
  border-radius: 0;
}
.ant-layout-sider, .ant-menu {
  background: #171717;
}
.ant-layout-sider-trigger {
  position: absolute;
  background: black;
  bottom: 0;
}
.ant-drawer-content {
  background: $blackColor;
}
.ant-modal-header {
  padding-left: 40px;
  padding-right: 40px;
}
