$mainColor: #d9524a;
$goldColor: #ffe86d;
$blackColor: #838383;
$greenColor: #2aa538;
$redColor: #c41a1c;
$blueColor: #40a9ff;
$yellowColor: #c58b32;
$mediaWidth: 1000px;

$boxShadow: 0 0 25px -10px rgba(0, 0, 0, 0.75);
