@import '../../variables.scss';

.forPartners {
  text-align: center;
  .content {
    background: white;
    color: $blackColor;
    box-shadow: $boxShadow;
    padding: 30px;
    position: relative;
    margin-bottom: 50px;
    h1, h2, h3, h4, :global(.ant-form-item) {
      color: $blackColor !important;
    }

    > * {
      position: relative;
      z-index: 50;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      opacity: .1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('/bg-texture.png');
    }
  }
  .bonus {
    padding-bottom: 20px;
  }

  .text {
    margin: 40px 0 80px;
  }
  table {
    background: white;

    th, td {
      text-align: center;
    }
  }
}
